name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: macos-14
    name: Build & Test
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Build
        run: swift build -v
      
      - name: Run Tests
        run: swift test -v

  pod-lint:
    runs-on: macos-14
    name: CocoaPods Lint
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Lint Podspec
        run: pod lib lint --allow-warnings
